
<div class="graphDisplay" ng-controller="graphDisplayCtrl as vm">
    <div class="container">
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-3">
                <label>Graph</label>
                <select class="form-control" ng-model="vm.graph" ng-options="graph.name for graph in vm.graphs" ng-change="vm.selectGraph()"></select>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 col-sm-3">
                <div ng-repeat="chart in vm.charts" id="chart{{chart.index}}"></div>
            </div>
        </div>
    </div>
</div>