.transactionInput .well {
    padding: 0px 10px 0px 10px;
}

.transactionInput .gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 500px;
    height: 300px;
}

.transactionInput .inactive {
    /*background-color: gray;*/
    max-height: 60px;
}

.transactionInput .active {
    /*background-color: white;*/
    max-height: none;
}

/*.transactionInput .up {
    margin-top: -210px
}*/